.advantages {
  background-color: #000;
  .header {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-image: url("../images/advantages-background 3.png");
    height: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      color: #FFF;
      font-family: Montserrat;
      font-size: 69.754px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -3.488px;
      margin-top: 70px;
    }
    .subtitle {
      color: #FFF;
      font-family: Montserrat;
      font-size: 21.564px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.078px;
      margin-top: 30px;
    }
    .row {
      margin: 50px 0;
      padding-bottom: 30px;
      .col-lg-12 {
        margin-bottom: 16px;
        img {
          width: 100%;
        }
      }
      .col-lg-6 {
        img {
          width: 100%;
        }
      }
    }
  }
  main {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    .subtitle {
      color: #FFF;
      font-family: Montserrat;
      font-size: 21.564px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.078px;
      padding-top: 40px;
    }
    .companies-info {
      width: 100%;
      height: 397.62px;
      background-image: url("../images/background oil grid.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 50px;
      .title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 146.165px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -7.308px;
        padding: 0 30px;
      }
      .companies-subtitle {
        color: #FFF;
        font-family: Montserrat;
        font-size: 40.764px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -2.038px;
        padding: 0 39px;
      }
      h3 {
        color: #FFF;
        font-family: Montserrat;
        font-size: 95px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -5.111px;
        padding: 0 35px;
      }
    }
    .row {
      margin: 60px 0;
      .col-lg-6 {
        h4 {
          color: #FFF;
          font-family: Montserrat;
          font-size: 57.863px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -2.743px;
          margin-top: 30px;
        }
        .subtitle {
          padding-top: 13px;
          color: #FFF;
          font-family: Montserrat;
          font-size: 21.564px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -1.078px;
        }
        .half-img {
          border-radius: 38.792px;
          width: 100%;
        }
      }
    }
  }
  section {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-image: url("../images/section-background.png");
    height: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    h3 {
      padding-top: 50px;
      color: #FFF;
      font-family: Montserrat;
      font-size: 86.397px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -4.32px;
    }
    .subtitle {
      color: #FFF;
      font-family: Montserrat;
      font-size: 21.564px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.078px;
      margin: 33px 0 50px;
    }
    .advantages-truck {
      width: 100%;
      height: auto;
      border-radius: 43.641px;
    }
    .rectangle {
      width: 350px;
      height: 68px;
      vertical-align: inherit;
    }
  }
  .application-part {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
  }
}