.footer {
  background-image: url("../images/footer-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .footer-components {
    padding: 50px 98px 0;
    .footer-form {
      border-radius: 40.193px;
      background: rgba(0, 0, 0, 0.50);
      backdrop-filter: blur(13.548100471496582px);
      width: 100%;
      height: 250.708px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        color: #FFF;
        font-family: Montserrat;
        font-size: 52px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -3.067px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
        color: #FFF;
        font-family: Montserrat;
        font-size: 30.736px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 36.801px;
        border: 1.472px solid #FFF;
        background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
        box-shadow: -3.68px -3.68px 184.005px 0px rgba(255, 255, 255, 0.02) inset;
        backdrop-filter: blur(15.456403732299805px);
        width: 426.655px;
        height: 134.517px;
        img {
          width: 102px;
          height: 94.966px;
          background-image: url("../images/footer-arrow-backgound.png");
          padding: 16px;
        }
      }
    }
    .footer-navigate {
      margin-top: 31px;
      .row {
        .col-lg-4{
          img {}
          .navbar {
            display: block;
            .nav-item {}
            .nav-link {
              color: #FFF;
              font-family: Montserrat;
              font-size: 23.801px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-top: 15px;
            }
          }

        }
        .col-lg-2 {
          display: flex;
          align-items: center;
          .navbar {

            .nav-item {}
            .nav-link {
              color: #FFF;
              font-family: Montserrat;
              font-size: 23.801px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-top: 15px;
            }
          }
        }
        .col-lg-6 {
          .footer-socials {
            display: flex;
            justify-content: flex-end;
            margin-top: 18px;
            img {
              width: 93.602px;
              height: 88.232px;
              border: 1.472px solid #FFF;
              background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
              box-shadow: -3.68px -3.68px 184.005px 0px rgba(255, 255, 255, 0.02) inset;
              backdrop-filter: blur(15.456403732299805px);
              padding: 17px;
              border-radius: 24px;
            }
            img:not(first-child){
              margin-left: 22px;
            }
          }
          .footer-contacts {
            color: #FFF;
            text-align: right;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 100px;
            .phone-number,.address {
              border-radius: 31.098px;
              border: 1.244px solid #FFF;
              background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
              box-shadow: -3.11px -3.11px 155.488px 0px rgba(255, 255, 255, 0.02) inset;
              backdrop-filter: blur(13.06098461151123px);
              display: flex;
              align-items: center;
              justify-content: space-around;
              img {
                width: 30.446px;
                height: 30.446px;
              }
            }
            .phone-number {
              width: 323.533px;
              height: 50.376px;
            }
            .address {
              width: 572.446px;
              height: 50.376px;
              img {

              }
            }
          }
        }
      }
    }
  }
}