.navbar {
  .headerImg {
    width: 170px;
    height: 170px;
  }
  .collapse {
    display: flex;
    justify-content: flex-end;
    .navbar-nav {
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      .nav-link {
        color: #fff !important;
      }
    }
    .changeLanguage {
      position: absolute;
      top: 30px;
      right: 16px;
      width: 88px;
      height: 38px;
      stroke-width: 0.806px;
      stroke: #FFF;
      box-shadow: -2.015px -2.015px 100.747px 0px rgba(255, 255, 255, 0.02) inset;
      backdrop-filter: blur(70.462712287902832px);
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      .rus {
        width: 35.12px;
        height: 35.12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgba(255, 255, 255, 0.50) ;
        border-radius: 50%;
        margin: 1.6px 0;
      }

      .uzb {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #AEAEAE !important;
        margin-right: 3.55px;
      }

      .rus,.uzb {
        color: #545454;
        font-family: Montserrat;
        font-size: 16.938px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.847px;
        padding-bottom: 2px;
      }
    }
  }
}